<a href="https://colab.research.google.com/github/Joseph-Willem-Ricci/5450-final-project/blob/Juan/CIS5450_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CIT 5450 Final Project
Joanne Crean, Juan Goleniowski, Joseph Ricci

Before running, be sure to create a new Kaggle API token and save it as 'kaggle.json' in your default Google Drive location (/content/drive/MyDrive/)

In [1]:
# Installs
!pip install -q kaggle
!pip install pandasql
!pip install sqlalchemy==1.4.46

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from pandasql) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.9/dist-packages (from pandasql) (2.0.9)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pandasql) (2022.7.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy->pandasql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=6c562b9864423278b481344cbfb4b885a397bedc92fb04288ca32244d2d2206b
  Stored in directory: /root/.cache/pip/wheels/63/e8/ec/75b1df467ecf57b6ececb32cb16f4e86697cbfe55cb0c51f07
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sqlalchemy==1.4.46
  Downloading SQLAlchemy-1.4.46-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 20.0 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy==1.4.46) (2.0.2)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.9
    Uninstalling SQLAlchemy-2.0.9:
      Successfully uninstalled SQLAlchemy-2.0.9
Successfully installed sqlalchemy-1.4.46

In [2]:
# Imports
import pandas as pd
import pandasql as ps
from google.colab import drive
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
# Setup
drive.mount('/content/drive')
!mkdir ~/.kaggle
!cp /content/drive/MyDrive/kaggle.json ~/.kaggle/

Mounted at /content/drive

In [4]:
# Download Datasets
# Spotify Top 200 and Viral 50 Charts for 2017 through 2021 Dataset
!!kaggle datasets download -d dhruvildave/spotify-charts

# Spotify Audio Features Datasets
!!kaggle datasets download -d rodolfofigueroa/spotify-12m-songs
!!kaggle datasets download -d muhmores/spotify-top-100-songs-of-20152019
!!kaggle datasets download -d sashankpillai/spotify-top-200-charts-20202021
!!kaggle datasets download -d maharshipandya/-spotify-tracks-dataset
!!kaggle datasets download -d vatsalmavani/spotify-dataset
!!kaggle datasets download -d nandhakumarss/spotify-song-tracks
!!kaggle datasets download -d elemento/music-albums-popularity-prediction

# TikTok Popular Songs Dataset
!!kaggle datasets download -d sveta151/tiktok-popular-songs-2019
!!kaggle datasets download -d sveta151/tiktok-popular-songs-2020
!!kaggle datasets download -d sveta151/tiktok-popular-songs-2021

['Downloading tiktok-popular-songs-2021.zip to /content',
 '',
 '  0% 0.00/11.0k [00:00<?, ?B/s]',
 '',
 '100% 11.0k/11.0k [00:00<00:00, 5.61MB/s]']

In [5]:
# Unzip Datasets
!unzip /content/spotify-charts.zip
!unzip /content/spotify-12m-songs.zip
!unzip /content/spotify-top-100-songs-of-20152019.zip
!unzip /content/spotify-top-200-charts-20202021.zip
!unzip /content/-spotify-tracks-dataset.zip
!unzip /content/spotify-dataset.zip
!unzip /content/spotify-song-tracks.zip
!unzip /content/music-albums-popularity-prediction.zip
!unzip /content/tiktok-popular-songs-2019
!unzip /content/tiktok-popular-songs-2020
!unzip /content/tiktok-popular-songs-2021

Archive:  /content/spotify-charts.zip
  inflating: charts.csv
Archive:  /content/spotify-12m-songs.zip
  inflating: tracks_features.csv
Archive:  /content/spotify-top-100-songs-of-20152019.zip
  inflating: Spotify 2010 - 2019 Top 100 Songs.xlsx
  inflating: Spotify 2010 - 2019 Top 100.csv
Archive:  /content/spotify-top-200-charts-20202021.zip
  inflating: spotify_dataset.csv
Archive:  /content/-spotify-tracks-dataset.zip
  inflating: dataset.csv
Archive:  /content/spotify-dataset.zip
  inflating: data/data.csv
  inflating: data/data_by_artist.csv
  inflating: data/data_by_genres.csv
  inflating: data/data_by_year.csv
  inflating: data/data_w_genres.csv
Archive:  /content/spotify-song-tracks.zip
  inflating: SpotifyFeatures.csv
Archive:  /content/music-albums-popularity-prediction.zip
  inflating: sample_solution.csv
  inflating: test.csv
  inflating: train.csv
Archive:  /content/tiktok-popular-songs-2019.zip
  inflating: TikTok_songs_2019.csv
  inflating: TikTok_songs_2019.xlsx
Archive:  /content/tiktok-popular-songs-2020.zip
  inflating: TikTok_songs_2020.csv
Archive:  /content/tiktok-popular-songs-2021.zip
  inflating: TikTok_songs_2021.csv

In [6]:
# Clean up directory to save space
!rm sample_data/*
!rm -d sample_data
!rm ./*.zip
!rm sample_solution.csv
!rm ./*.xlsx

In [7]:
# Read the csv files and save them to pandas dataframes
df_charts = pd.read_csv('charts.csv')
df_song_features_1 = pd.read_csv('tracks_features.csv')
df_song_features_2 = pd.read_csv('Spotify 2010 - 2019 Top 100.csv')
df_song_features_3 = pd.read_csv('spotify_dataset.csv')
df_song_features_4 = pd.read_csv('dataset.csv')
df_song_features_5 = pd.read_csv('data/data.csv')
df_song_features_6 = pd.read_csv('SpotifyFeatures.csv')
df_song_features_7 = pd.read_csv('train.csv')
df_song_features_10 = pd.read_csv('test.csv')
df_tiktok_19 = pd.read_csv('TikTok_songs_2019.csv')
df_tiktok_20 = pd.read_csv('TikTok_songs_2020.csv')
df_tiktok_21 = pd.read_csv('TikTok_songs_2021.csv')

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
# Clean up remaining files
!rm data/*
!rm -d data
!rm ./*.csv

# Spotify Top 200 and Viral 50 Charts EDA

In [10]:
# Create a separate column for Year
df_charts['Year']=df_charts['date'].str.slice(stop=4)

# Cast 'Year' as Int
df_charts['Year'] = df_charts['Year'].astype(int)

# Show datatypes 
df_charts.dtypes

#remove ID, trend and streams columns
df_charts.drop(['url', 'trend', 'streams'], axis=1, inplace=True)

df_charts.dropna(inplace=True)

In [11]:
# Number of records per year
df_charts.groupby(by='Year', as_index=False).count()

   Year    title     rank     date   artist   region    chart
0  2017  4401145  4401145  4401145  4401145  4401145  4401145
1  2018  4863016  4863016  4863016  4863016  4863016  4863016
2  2019  5412658  5412658  5412658  5412658  5412658  5412658
3  2020  5793130  5793130  5793130  5793130  5793130  5793130
4  2021  5703536  5703536  5703536  5703536  5703536  5703536

In [12]:
# Gets the highes ranking achieved by each song in the period 2017-2018 in any country
max_ranking_df = df_charts[df_charts['Year']<2019].groupby('title').min('rank')

In [13]:
max_ranking_df

                                           rank  Year
title
!                                            27  2018
!I'll Be Back!                               14  2018
"42" - From SR3MM                           130  2018
"99"                                         15  2018
"All That Is or Ever Was or Ever Will Be"   185  2017
...                                         ...   ...
혼자 하는 사랑 Lonely Love                         13  2017
혼잣말 Talking to                               37  2018
환상통 Only One You Need                        28  2018
휴일 Lazy                                      26  2018
﻿Lay Down Your Blade                         14  2017

[82027 rows x 2 columns]

In [14]:
# Remove records with year 2017 and 2018
df_charts=df_charts[df_charts['Year'] > 2018]

In [16]:
# Add max 2017-2018 ranking to df_charts
df_charts=df_charts.merge(max_ranking_df[['rank']], left_on=['title'], right_on=['title'], how='left')

In [17]:
# Rename Rank columns
df_charts.rename(columns={'rank_x':'rank', 'rank_y':'Best_2017-28'}, inplace=True)

In [18]:
# Replace NaN with 0
df_charts['Best_2017-28']=df_charts['Best_2017-28'].fillna(0)

In [19]:
# Best ranking in 2017-2018 for songs in the 2019-2021 group
df_charts

,title,rank,date,artist,region,chart,Year,Best_2017-28
0,Ride It,146,2020-05-01,Regard,Bolivia,top200,2020,0.0
1,+Linda,147,2020-05-01,Dalex,Bolivia,top200,2020,0.0
2,Woah,148,2020-05-01,Lil Baby,Canada,top200,2020,4.0
3,25/8,105,2020-05-01,Bad Bunny,Chile,top200,2020,0.0
4,Keii,65,2020-05-01,Anuel AA,Colombia,top200,2020,0.0
...,...,...,...,...,...,...,...,...
16909319,BYE,46,2021-07-31,Jaden,Vietnam,viral50,2021,0.0
16909320,Pillars,47,2021-07-31,My Anh,Vietnam,viral50,2021,0.0
16909321,Gái Độc Thân,48,2021-07-31,Tlinh,Vietnam,viral50,2021,0.0
16909322,Renegade (feat. Taylor Swift),49,2021-07-31,Big Red Machine,Vietnam,viral50,2021,0.0
16909323,Letter to Jarad,50,2021-07-31,"LRN Slime, Shiloh Dynasty",Vietnam,viral50,2021,0.0

In [21]:
# Top 50 artists in the 2019-2021 period by number of days in the top position

query = """SELECT artist, count(date) as 'days as number 1'
FROM df_charts
WHERE rank == 1
GROUP BY artist
ORDER BY count(date) DESC
LIMIT 50
"""

sql_top_50_artists = ps.sqldf(query, locals())

In [22]:
sql_top_50_artists

                                               artist  days as number 1
0                                         Tones And I              4275
1                        Shawn Mendes, Camila Cabello              2897
2                                           Lil Nas X              2804
3                                            Måneskin              2790
4                                KAROL G, Nicki Minaj              2372
5                                      Olivia Rodrigo              2252
6                                       The Kid LAROI              2143
7                                       Ariana Grande              1941
8                              Bad Bunny, Jhay Cortez              1932
9                                                 BTS              1666
10                                       Sech, Darell              1630
11                                             Maluma              1602
12                                         The Weeknd              1566
13   Anuel AA, Daddy Yankee, KAROL G, J Balvin, Ozuna              1531
14                                          Bad Bunny              1509
15                                Pedro Capó, Farruko              1489
16                                        Roddy Ricch              1447
17                                      Billie Eilish              1387
18                                              GAYLE              1229
19                                 Powfu, beabadoobee              1216
20                                           24kGoldn              1148
21                                        Masked Wolf              1056
22                                               CKay              1043
23                                         DripReport              1034
24  Dalex, Rafa Pabön, KHEA, Sech, Cazzu, Feid, Le...               942
25                                 Daddy Yankee, Snow               940
26                                              Tainy               907
27                                             DaBaby               885
28                                              Adele               869
29                                         Ed Sheeran               857
30                                      Trevor Daniel               829
31                                         Kali Uchis               829
32                                      Justin Bieber               770
33                            Jawsh 685, Jason Derulo               741
34                                         Y2K, bbno$               700
35                Los Legendarios, Wisin, Jhay Cortez               686
36                                          BLACKPINK               674
37                          Black Eyed Peas, J Balvin               655
38              Bad Bunny, Jowell & Randy, Ñengo Flow               627
39                                     Internet Money               612
40                                              Cypis               611
41   Nio Garcia, Anuel AA, Myke Towers, Brray, Juanka               599
42                                     Arizona Zervas               565
43                                            Cardi B               560
44                                  Myke Towers, Juhn               559
45                                          Surf Mesa               553
46                                            Farruko               546
47                Jay Wheeler, DJ Nelson, Myke Towers               535
48                                   Bad Bunny, Tainy               535
49                                              Drake               527

In [23]:
# Top 50 songs in the 2019-2021 period by number of days in the top position

query = """SELECT title, count(date) as 'days as number 1'
FROM df_charts
WHERE rank == 1
GROUP BY title
ORDER BY count(date) DESC
LIMIT 50
"""

sql_top_50_songs = ps.sqldf(query, locals())

In [24]:
sql_top_50_songs

                                            title  days as number 1
0                                    Dance Monkey              4261
1                                        Señorita              2897
2                                            Tusa              2372
3                       STAY (with Justin Bieber)              2046
4                                          DÁKITI              1932
5                                      Otro Trago              1630
6                                           China              1531
7                                         Beggin'              1520
8                                 drivers license              1494
9                                   Calma - Remix              1489
10                                Blinding Lights              1453
11                                        The Box              1447
12                                          Hawái              1422
13                                        7 rings              1344
14                                        abcdefu              1229
15               death bed (coffee for your head)              1216
16                                       Yonaguni              1141
17                         Mood (feat. iann dior)              1059
18                         Astronaut In The Ocean              1056
19                                        bad guy              1040
20                                       Skechers              1034
21                 MONTERO (Call Me By Your Name)               953
22                                  Pa Mí - Remix               942
23                                      Con Calma               940
24                                     Easy On Me               866
25                   ROCKSTAR (feat. Roddy Ricch)               863
26                                      telepatía               829
27                                        Falling               829
28                          I WANNA BE YOUR SLAVE               807
29               Savage Love (Laxed - Siren Beat)               741
30                                       good 4 u               725
31                                  Old Town Road               720
32                                         Lalala               704
33                                           Fiel               686
34                                       Dynamite               672
35                      RITMO (Bad Boys For Life)               655
36  Old Town Road (feat. Billy Ray Cyrus) - Remix               644
37                                        Safaera               627
38      Lemonade (feat. Gunna, Don Toliver & NAV)               612
39            Gdzie jest biały węgorz ? (Zejście)               611
40              I Don't Care (with Justin Bieber)               608
41                             La Jeepeta - Remix               599
42                       love nwantiti (ah ah ah)               589
43                                        ROXANNE               565
44                                        Bandido               559
45                WAP (feat. Megan Thee Stallion)               557
46           ily (i love you baby) (feat. Emilee)               550
47                                          Pepas               542
48                                  La Curiosidad               535
49                                       Callaita               535

In [25]:
# Top 50 longest trending songs in the US in the 2019-2021 period

query = """SELECT title, count(date) as 'days trending'
FROM df_charts
WHERE region == 'United States'
GROUP BY title
ORDER BY count(date) DESC
LIMIT 50
"""

sql_top_50_longest_trending_songs = ps.sqldf(query, locals())

In [26]:
sql_top_50_longest_trending_songs

                                             title  days trending
0    Sunflower - Spider-Man: Into the Spider-Verse           1130
1                                     Lucid Dreams           1104
2                           All Girls Are The Same           1087
3                         SLOW DANCING IN THE DARK           1078
4                                   Jocelyn Flores           1069
5                                Someone You Loved           1061
6                                    XO Tour Llif3           1055
7                                       goosebumps           1053
8                                          Robbery           1052
9                                          Falling           1050
10                                    MIDDLE CHILD           1023
11                Drip Too Hard (Lil Baby & Gunna)           1020
12                                 Whiskey Glasses            971
13                                 Beautiful Crazy            938
14                                            SAD!            902
15                                         Circles            896
16                                      SICKO MODE            895
17                                  No Role Modelz            882
18                                 Blinding Lights            878
19                            lovely (with Khalid)            831
20                                 hot girl bummer            810
21                                    I Fall Apart            799
22                  Fuck Love (feat. Trippie Redd)            791
23                                Watermelon Sugar            785
24                        Pop Out (feat. Lil Tjay)            778
25                      The Less I Know The Better            754
26                      rockstar (feat. 21 Savage)            749
27                                            Wow.            747
28                               Murder On My Mind            747
29                                         The Box            739
30                                         bad guy            726
31                                 Don't Start Now            725
32                           when the party's over            720
33                                    Dance Monkey            717
34                             Armed And Dangerous            703
35        Bandit (with YoungBoy Never Broke Again)            696
36                                     Truth Hurts            690
37                      Ballin' (with Roddy Ricch)            685
38                                       Moonlight            679
39                                   Before You Go            679
40                                 Blueberry Faygo            668
41                         Going Bad (feat. Drake)            664
42                         Swervin (feat. 6ix9ine)            648
43  If the World Was Ending - feat. Julia Michaels            646
44                                             BOP            636
45                           Roses - Imanbek Remix            630
46                      Life Is Good (feat. Drake)            625
47                                         ROXANNE            622
48                                            Suge            616
49                             HIGHEST IN THE ROOM            616

In [27]:
# Top 50 longest trending songs outside of the US in the 2019-2021 period

query = """SELECT title, count(date) as 'days trending'
FROM df_charts
WHERE region != 'United States'
GROUP BY title
ORDER BY count(date) DESC
LIMIT 50
"""

sql_top_50_longest_trending_ROW_songs = ps.sqldf(query, locals())

In [28]:
sql_top_50_longest_trending_ROW_songs

                                            title  days trending
0                                    Dance Monkey          56133
1                               Someone You Loved          55369
2                                 Blinding Lights          55180
3                                         bad guy          44497
4                                 Don't Start Now          43928
5                                        Señorita          42320
6                                Watermelon Sugar          40688
7                                         Shallow          40621
8                                         Falling          40176
9                           Roses - Imanbek Remix          39527
10  Sunflower - Spider-Man: Into the Spider-Verse          36916
11                                       Memories          33115
12                                        Circles          31661
13                           lovely (with Khalid)          30369
14                                        7 rings          29694
15               death bed (coffee for your head)          29536
16              I Don't Care (with Justin Bieber)          29513
17                         Mood (feat. iann dior)          29107
18                                     Without Me          27847
19                                        The Box          27638
20                                        Happier          27275
21                                   Lucid Dreams          26886
22                                   Shape of You          26746
23                                        Ride It          26719
24                                       Believer          26628
25                                       Dynamite          26392
26                   ROCKSTAR (feat. Roddy Ricch)          26193
27                      Levitating (feat. DaBaby)          25622
28                         Astronaut In The Ocean          25368
29                                  Before You Go          25171
30                            HIGHEST IN THE ROOM          24922
31                                        ROXANNE          24537
32                                    Breaking Me          24207
33                                      Adore You          24128
34                             Let Me Down Slowly          23353
35                                     SICKO MODE          23345
36            Bohemian Rhapsody - Remastered 2011          22798
37                Beautiful People (feat. Khalid)          22624
38                                        Perfect          22608
39                          when the party's over          22419
40                                drivers license          22406
41                               Sweet but Psycho          22318
42                                     goosebumps          21805
43                                Save Your Tears          21406
44                            everything i wanted          21299
45      Lemonade (feat. Gunna, Don Toliver & NAV)          21184
46                                     Be Alright          21132
47                                           2002          20833
48                                         Lalala          20784
49                                           Tusa          20575

# Spotify Audio Feature Dataset EDA

Since the Spotify Top 200 and Viral 50 charts dataset does not come with audio features the songs, there is no guarantee that we can find datasets that include audio features for all of the songs in the charts. One relevant question to explore is therefore

1. Can we find audio feature data for a suitably "big" fraction of the songs in the Charts dataset?

Additionally, since we'll be combining multiple audio features datasets, there is no guarantee that those datasets share the same features, so

2. What fields do the datasets share?

In [29]:
# First, since we want to find song features for as many of the songs in 'df_charts' as possible, let's start by
# projecting df_charts by song title and artist name, which will uniquely identify each song, and then dropping duplicates
df_charts_songs_artists = df_charts[['title', 'artist']].drop_duplicates()

# Next, let's join the features datasets on song title and artist name and see what percentage of songs in charts_df
# each song features dataset can provide features for

# Clean extranneous characters from artist columns if necessary
df_song_features_1['artists'] = df_song_features_1['artists'].str.replace('[', '').str.replace(']', '').str.replace("'", '')
df_song_features_5['artists'] = df_song_features_5['artists'].str.replace('[', '').str.replace(']', '').str.replace("'", '')
df_song_features_7['artists'] = df_song_features_7['artists'].str.replace(', ', '')
df_song_features_10['artists'] = df_song_features_10['artists'].str.replace(', ', '')

In [30]:
# Rename song title "title" and "artist" columns in each dataframe and 
# create separate dataframes for features_7 and features_10, which each have three columns for each field for three different songs
df_song_features_1 = df_song_features_1.rename(columns={'name': 'title', 'artists': 'artist'})
# _song_features_2 already has fields 'title' and 'artist'
df_song_features_3 = df_song_features_3.rename(columns={'Song Name': 'title', 'Artist': 'artist'})
df_song_features_4 = df_song_features_4.rename(columns={'track_name': 'title', 'artists': 'artist'})
df_song_features_5 = df_song_features_5.rename(columns={'name': 'title', 'artists': 'artist'})
df_song_features_6 = df_song_features_6.rename(columns={'track_name': 'title', 'artist_name': 'artist'})
df_song_features_8 = df_song_features_7.rename(columns={'t_name1': 'title', 'artists': 'artist'}).drop(columns=['t_name0', 't_name2', 't_dur0', 't_dur2', 't_dance0', 't_dance2', 't_energy0', 't_energy2', 't_key0', 't_key2', 't_mode0', 't_mode2', 't_speech0', 't_speech2', 't_acous0', 't_acous2', 't_ins0', 't_ins2', 't_live0', 't_live2', 't_val0', 't_val2', 't_tempo0', 't_tempo2', 't_sig0', 't_sig2'])
df_song_features_9 = df_song_features_7.rename(columns={'t_name2': 'title', 'artists': 'artist'}).drop(columns=['t_name0', 't_name1', 't_dur0', 't_dur1', 't_dance0', 't_dance1', 't_energy0', 't_energy1', 't_key0', 't_key1', 't_mode0', 't_mode1', 't_speech0', 't_speech1', 't_acous0', 't_acous1', 't_ins0', 't_ins1', 't_live0', 't_live1', 't_val0', 't_val1', 't_tempo0', 't_tempo1', 't_sig0', 't_sig1'])
df_song_features_7 = df_song_features_7.rename(columns={'t_name0': 'title', 'artists': 'artist'}).drop(columns=['t_name1', 't_name2', 't_dur1', 't_dur2', 't_dance1', 't_dance2', 't_energy1', 't_energy2', 't_key1', 't_key2', 't_mode1', 't_mode2', 't_speech1', 't_speech2', 't_acous1', 't_acous2', 't_ins1', 't_ins2', 't_live1', 't_live2', 't_val1', 't_val2', 't_tempo1', 't_tempo2', 't_sig1', 't_sig2'])
df_song_features_11 = df_song_features_10.rename(columns={'t_name1': 'title', 'artists': 'artist'}).drop(columns=['t_name0', 't_name2', 't_dur0', 't_dur2', 't_dance0', 't_dance2', 't_energy0', 't_energy2', 't_key0', 't_key2', 't_mode0', 't_mode2', 't_speech0', 't_speech2', 't_acous0', 't_acous2', 't_ins0', 't_ins2', 't_live0', 't_live2', 't_val0', 't_val2', 't_tempo0', 't_tempo2', 't_sig0', 't_sig2'])
df_song_features_12 = df_song_features_10.rename(columns={'t_name2': 'title', 'artists': 'artist'}).drop(columns=['t_name0', 't_name1', 't_dur0', 't_dur1', 't_dance0', 't_dance1', 't_energy0', 't_energy1', 't_key0', 't_key1', 't_mode0', 't_mode1', 't_speech0', 't_speech1', 't_acous0', 't_acous1', 't_ins0', 't_ins1', 't_live0', 't_live1', 't_val0', 't_val1', 't_tempo0', 't_tempo1', 't_sig0', 't_sig1'])
df_song_features_10 = df_song_features_10.rename(columns={'t_name0': 'title', 'artists': 'artist'}).drop(columns=['t_name1', 't_name2', 't_dur1', 't_dur2', 't_dance1', 't_dance2', 't_energy1', 't_energy2', 't_key1', 't_key2', 't_mode1', 't_mode2', 't_speech1', 't_speech2', 't_acous1', 't_acous2', 't_ins1', 't_ins2', 't_live1', 't_live2', 't_val1', 't_val2', 't_tempo1', 't_tempo2', 't_sig1', 't_sig2'])

# Project only the necessary columns from each feature dataset and also rename to maintain consistency
features_1_projected = df_song_features_1[['title', 'artist']]
features_2_projected = df_song_features_2[['title', 'artist']]
features_3_projected = df_song_features_3[['title', 'artist']]
features_4_projected = df_song_features_4[['title', 'artist']]
features_5_projected = df_song_features_5[['title', 'artist']]
features_6_projected = df_song_features_6[['title', 'artist']]
features_7_projected = df_song_features_7[['title', 'artist']]
features_8_projected = df_song_features_8[['title', 'artist']]
features_9_projected = df_song_features_9[['title', 'artist']]
features_10_projected = df_song_features_10[['title', 'artist']]
features_11_projected = df_song_features_11[['title', 'artist']]
features_12_projected = df_song_features_12[['title', 'artist']]
all_songs_with_features = pd.concat([features_1_projected, features_2_projected, features_3_projected, features_4_projected, 
                                     features_5_projected, features_6_projected, features_7_projected, features_8_projected, 
                                     features_9_projected, features_10_projected, features_11_projected, features_12_projected], ignore_index=True).drop_duplicates()

# Join on song title and artist name
feature_matches = pd.merge(df_charts_songs_artists, all_songs_with_features, on=['title', 'artist'], how='inner')

# Calculate the percentage of songs each features dataset was able to provide song features for
match_percentage_combined = 100 * feature_matches.shape[0] / df_charts_songs_artists.shape[0]
print("We are able to provide audio features for " + str(round(match_percentage_combined,2)) + "% of songs in df_charts,"\
      " for a total of " + str(feature_matches.shape[0]) + " out of " + str(df_charts_songs_artists.shape[0]) + " songs")

We are able to provide audio features for 16.48% of songs in df_charts, for a total of 18950 out of 115014 songs

Lets now see whether we can do any additional cleaning to boost our match percentage. Since there are many obscure songs in df_charts that have, say, reached chart position 200 in small countries like Latvia and Ecuador, let us limit our search to songs that charted highly in the United States, and see if any of those songs were unmatched in the features data

In [31]:
non_matches = pd.merge(df_charts[df_charts['rank'] > 10][df_charts['region'] == 'United States'][['title', 'artist']], 
                                  all_songs_with_features, on=['title', 'artist'], how='left', indicator=True).drop_duplicates()
non_matches = non_matches[non_matches['_merge'] == 'left_only']
non_matches.head()

<ipython-input-31-b56ed4472038>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  non_matches = pd.merge(df_charts[df_charts['rank'] > 10][df_charts['region'] == 'United States'][['title', 'artist']],

                                title                     artist     _merge
23   Walk Em Down (feat. Roddy Ricch)    Roddy Ricch, NLE Choppa  left_only
53                  Social Distancing                   Lil Baby  left_only
58                             Coffee  Quinn XCII, Marc E. Bassy  left_only
73       Eleven (feat. Summer Walker)                     Khalid  left_only
121                          Low Down                   Lil Baby  left_only

In [32]:
# Does all_songs_with_features contain any of these songs but perhaps with a different format for title and artist?
print(all_songs_with_features[all_songs_with_features['artist'] == 'NLE Choppa, Roddy Ricch'])

                                   title                   artist
991025  Walk Em Down (feat. Roddy Ricch)  NLE Choppa, Roddy Ricch

This suggests that when there is a featured artist, the ordering of the artist names in the features datasets may be the opposite of the ordering in the charts dataset. Lets look at the other row with a featured artist.

In [33]:
print(all_songs_with_features[all_songs_with_features['artist'] == "Khalid, Summer Walker"])

                                title                 artist
1111433  Eleven (feat. Summer Walker)  Khalid, Summer Walker

In this case, the featured artist is not included in the 'artist' column in the charts dataset, but is in the features datasets. In joins so far, we have been joining on 'artist' and 'title' to be sure to uniquely identify each song. But since these songs with featured artists have varying formats in the 'artist' column, but the same format in the 'title' column, and since they are sure to be uniquely identified just by song title, let us try to filter by songs that have "(feat. " in their title, and join the charts and features datasets on 'title'.

In [34]:
charts_featured = df_charts_songs_artists[df_charts_songs_artists['title'].str.contains("\(feat\. ")][['title', 'artist']]
featured_feature_matches = pd.merge(charts_featured, all_songs_with_features, on=['title'], how='inner').drop_duplicates(subset='title')
featured_feature_matches.drop(columns=['artist_x'], inplace=True)
featured_feature_matches.rename(columns={'artist_y': 'artist'}, inplace=True)
feature_matches = pd.concat([feature_matches, featured_feature_matches], ignore_index=True).drop_duplicates()
match_percentage_combined = 100 * feature_matches.shape[0] / df_charts_songs_artists.shape[0]
print("We are able to provide audio features for " + str(round(match_percentage_combined,2)) + "% of songs in df_charts,"\
      " for a total of " + str(feature_matches.shape[0]) + " out of " + str(df_charts_songs_artists.shape[0]) + " songs")

We are able to provide audio features for 17.86% of songs in df_charts, for a total of 20544 out of 115014 songs

Next, lets see what columns each of the features datasets share, and create one unified features dataset.

In [35]:
print([col for col in df_song_features_1.columns])
print([col for col in df_song_features_2.columns])
print([col for col in df_song_features_3.columns])
print([col for col in df_song_features_4.columns])
print([col for col in df_song_features_5.columns])
print([col for col in df_song_features_6.columns])
print([col for col in df_song_features_7.columns])
print([col for col in df_song_features_8.columns])
print([col for col in df_song_features_9.columns])
print([col for col in df_song_features_10.columns])
print([col for col in df_song_features_11.columns])
print([col for col in df_song_features_12.columns])

['id', 'title', 'album', 'album_id', 'artist', 'artist_ids', 'track_number', 'disc_number', 'explicit', 'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo', 'duration_ms', 'time_signature', 'year', 'release_date']
['title', 'artist', 'top genre', 'year released', 'added', 'bpm', 'nrgy', 'dnce', 'dB', 'live', 'val', 'dur', 'acous', 'spch', 'pop', 'top year', 'artist type']
['Index', 'Highest Charting Position', 'Number of Times Charted', 'Week of Highest Charting', 'title', 'Streams', 'artist', 'Artist Followers', 'Song ID', 'Genre', 'Release Date', 'Weeks Charted', 'Popularity', 'Danceability', 'Energy', 'Loudness', 'Speechiness', 'Acousticness', 'Liveness', 'Tempo', 'Duration (ms)', 'Valence', 'Chord']
['Unnamed: 0', 'track_id', 'artist', 'album_name', 'title', 'popularity', 'duration_ms', 'explicit', 'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo', 'time_signature', 'track_genre']
['valence', 'year', 'acousticness', 'artist', 'danceability', 'duration_ms', 'energy', 'explicit', 'id', 'instrumentalness', 'key', 'liveness', 'loudness', 'mode', 'title', 'popularity', 'release_date', 'speechiness', 'tempo']
['genre', 'artist', 'title', 'track_id', 'popularity', 'acousticness', 'danceability', 'duration_ms', 'energy', 'instrumentalness', 'key', 'liveness', 'loudness', 'mode', 'speechiness', 'tempo', 'time_signature', 'valence']
['id', 'name', 'release_date', 'artist', 'total_tracks', 'title', 't_dur0', 't_dance0', 't_energy0', 't_key0', 't_mode0', 't_speech0', 't_acous0', 't_ins0', 't_live0', 't_val0', 't_tempo0', 't_sig0', 'popularity']
['id', 'name', 'release_date', 'artist', 'total_tracks', 'title', 't_dur1', 't_dance1', 't_energy1', 't_key1', 't_mode1', 't_speech1', 't_acous1', 't_ins1', 't_live1', 't_val1', 't_tempo1', 't_sig1', 'popularity']
['id', 'name', 'release_date', 'artist', 'total_tracks', 'title', 't_dur2', 't_dance2', 't_energy2', 't_key2', 't_mode2', 't_speech2', 't_acous2', 't_ins2', 't_live2', 't_val2', 't_tempo2', 't_sig2', 'popularity']
['id', 'name', 'release_date', 'artist', 'total_tracks', 'title', 't_dur0', 't_dance0', 't_energy0', 't_key0', 't_mode0', 't_speech0', 't_acous0', 't_ins0', 't_live0', 't_val0', 't_tempo0', 't_sig0']
['id', 'name', 'release_date', 'artist', 'total_tracks', 'title', 't_dur1', 't_dance1', 't_energy1', 't_key1', 't_mode1', 't_speech1', 't_acous1', 't_ins1', 't_live1', 't_val1', 't_tempo1', 't_sig1']
['id', 'name', 'release_date', 'artist', 'total_tracks', 'title', 't_dur2', 't_dance2', 't_energy2', 't_key2', 't_mode2', 't_speech2', 't_acous2', 't_ins2', 't_live2', 't_val2', 't_tempo2', 't_sig2']

Common columns:

title, artist, tempo, energy, danceability, liveness, valence, duration, acousticness, speechiness

In [36]:
features_1_drop_cols = ['loudness', 'album', 'id', 'album_id', 'artist_ids', 'track_number', 'disc_number', 'explicit', 'key', 'mode', 'instrumentalness', 'time_signature', 'year', 'release_date']
features_2_drop_cols = ['dB', 'year released', 'added', 'pop', 'top year', 'artist type', 'top genre']
features_3_drop_cols = ['Chord', 'Loudness', 'Index', 'Highest Charting Position', 'Number of Times Charted', 'Week of Highest Charting', 'Streams', 'Artist Followers', 'Song ID', 'Genre', 'Release Date', 'Weeks Charted', 'Popularity']
features_4_drop_cols = ['loudness', 'Unnamed: 0', 'track_id', 'album_name', 'popularity', 'explicit', 'key', 'mode', 'instrumentalness', 'time_signature', 'track_genre']
features_5_drop_cols = ['loudness', 'year', 'explicit', 'id', 'instrumentalness', 'key', 'mode', 'popularity', 'release_date']
features_6_drop_cols = ['loudness', 'genre', 'track_id', 'popularity', 'instrumentalness', 'key', 'mode', 'time_signature']
features_7_drop_cols = ['id', 'name', 'release_date', 'total_tracks', 't_key0', 't_mode0', 't_ins0', 't_sig0', 'popularity']
features_8_drop_cols = ['id', 'name', 'release_date', 'total_tracks', 't_key1', 't_mode1', 't_ins1', 't_sig1', 'popularity']
features_9_drop_cols = ['id', 'name', 'release_date', 'total_tracks', 't_key2', 't_mode2', 't_ins2', 't_sig2', 'popularity']
features_10_drop_cols = ['id', 'name', 'release_date', 'total_tracks', 't_key0', 't_mode0', 't_ins0', 't_sig0']
features_11_drop_cols = ['id', 'name', 'release_date', 'total_tracks', 't_key1', 't_mode1', 't_ins1', 't_sig1']
features_12_drop_cols = ['id', 'name', 'release_date', 'total_tracks', 't_key2', 't_mode2', 't_ins2', 't_sig2']

features_2_rename_map = {'bpm': 'tempo', 'nrgy': 'energy', 'dnce': 'danceability', 'live': 'liveness', 'val': 'valence', 'dur': 'duration_ms', 'acous': 'acousticness', 'spch': 'speechiness'}
features_3_rename_map = {'Danceability': 'danceability', 'Energy': 'energy', 'Speechiness': 'speechiness', 'Acousticness': 'acousticness', 'Liveness': 'liveness', 'Tempo': 'tempo', 'Duration (ms)': 'duration_ms', 'Valence': 'valence'}
features_7_rename_map = {'t_dance0': 'danceability', 't_energy0': 'energy', 't_speech0': 'speechiness', 't_acous0': 'acousticness', 't_live0': 'liveness', 't_tempo0': 'tempo', 't_dur0': 'duration_ms', 't_val0': 'valence'}
features_8_rename_map = {'t_dance1': 'danceability', 't_energy1': 'energy', 't_speech1': 'speechiness', 't_acous1': 'acousticness', 't_live1': 'liveness', 't_tempo1': 'tempo', 't_dur1': 'duration_ms', 't_val1': 'valence'}
features_9_rename_map = {'t_dance2': 'danceability', 't_energy2': 'energy', 't_speech2': 'speechiness', 't_acous2': 'acousticness', 't_live2': 'liveness', 't_tempo2': 'tempo', 't_dur2': 'duration_ms', 't_val2': 'valence'}
features_10_rename_map = {'t_dance0': 'danceability', 't_energy0': 'energy', 't_speech0': 'speechiness', 't_acous0': 'acousticness', 't_live0': 'liveness', 't_tempo0': 'tempo', 't_dur0': 'duration_ms', 't_val0': 'valence'}
features_11_rename_map = {'t_dance1': 'danceability', 't_energy1': 'energy', 't_speech1': 'speechiness', 't_acous1': 'acousticness', 't_live1': 'liveness', 't_tempo1': 'tempo', 't_dur1': 'duration_ms', 't_val1': 'valence'}
features_12_rename_map = {'t_dance2': 'danceability', 't_energy2': 'energy', 't_speech2': 'speechiness', 't_acous2': 'acousticness', 't_live2': 'liveness', 't_tempo2': 'tempo', 't_dur2': 'duration_ms', 't_val2': 'valence'}

df_song_features_1 = df_song_features_1.drop(columns=features_1_drop_cols)
df_song_features_2 = df_song_features_2.drop(columns=features_2_drop_cols).rename(columns=features_2_rename_map)
df_song_features_3 = df_song_features_3.drop(columns=features_3_drop_cols).rename(columns=features_3_rename_map)
df_song_features_4 = df_song_features_4.drop(columns=features_4_drop_cols)
df_song_features_5 = df_song_features_5.drop(columns=features_5_drop_cols)
df_song_features_6 = df_song_features_6.drop(columns=features_6_drop_cols)
df_song_features_7 = df_song_features_7.drop(columns=features_7_drop_cols).rename(columns=features_7_rename_map)
df_song_features_8 = df_song_features_8.drop(columns=features_8_drop_cols).rename(columns=features_8_rename_map)    
df_song_features_9 = df_song_features_9.drop(columns=features_9_drop_cols).rename(columns=features_9_rename_map)
df_song_features_10 = df_song_features_10.drop(columns=features_10_drop_cols).rename(columns=features_10_rename_map)
df_song_features_11 = df_song_features_11.drop(columns=features_11_drop_cols).rename(columns=features_11_rename_map)
df_song_features_12 = df_song_features_12.drop(columns=features_12_drop_cols).rename(columns=features_12_rename_map)

Check that all features dataframes have the same columns now:

In [37]:
print(([col for col in df_song_features_1.columns.sort_values()]))
print(([col for col in df_song_features_2.columns.sort_values()]))
print(([col for col in df_song_features_3.columns.sort_values()]))
print(([col for col in df_song_features_4.columns.sort_values()]))
print(([col for col in df_song_features_5.columns.sort_values()]))
print(([col for col in df_song_features_6.columns.sort_values()]))
print(([col for col in df_song_features_7.columns.sort_values()]))
print(([col for col in df_song_features_8.columns.sort_values()])) 
print(([col for col in df_song_features_9.columns.sort_values()]))
print(([col for col in df_song_features_10.columns.sort_values()]))
print(([col for col in df_song_features_11.columns.sort_values()]))
print(([col for col in df_song_features_12.columns.sort_values()]))

['acousticness', 'artist', 'danceability', 'duration_ms', 'energy', 'liveness', 'speechiness', 'tempo', 'title', 'valence']
['acousticness', 'artist', 'danceability', 'duration_ms', 'energy', 'liveness', 'speechiness', 'tempo', 'title', 'valence']
['acousticness', 'artist', 'danceability', 'duration_ms', 'energy', 'liveness', 'speechiness', 'tempo', 'title', 'valence']
['acousticness', 'artist', 'danceability', 'duration_ms', 'energy', 'liveness', 'speechiness', 'tempo', 'title', 'valence']
['acousticness', 'artist', 'danceability', 'duration_ms', 'energy', 'liveness', 'speechiness', 'tempo', 'title', 'valence']
['acousticness', 'artist', 'danceability', 'duration_ms', 'energy', 'liveness', 'speechiness', 'tempo', 'title', 'valence']
['acousticness', 'artist', 'danceability', 'duration_ms', 'energy', 'liveness', 'speechiness', 'tempo', 'title', 'valence']
['acousticness', 'artist', 'danceability', 'duration_ms', 'energy', 'liveness', 'speechiness', 'tempo', 'title', 'valence']
['acousticness', 'artist', 'danceability', 'duration_ms', 'energy', 'liveness', 'speechiness', 'tempo', 'title', 'valence']
['acousticness', 'artist', 'danceability', 'duration_ms', 'energy', 'liveness', 'speechiness', 'tempo', 'title', 'valence']
['acousticness', 'artist', 'danceability', 'duration_ms', 'energy', 'liveness', 'speechiness', 'tempo', 'title', 'valence']
['acousticness', 'artist', 'danceability', 'duration_ms', 'energy', 'liveness', 'speechiness', 'tempo', 'title', 'valence']

Now lets concatenate all of these features dataframes into one and do an inner join with `all_songs_with_features` to get the final, combined features dataset

In [38]:
df_features = pd.concat([df_song_features_1, df_song_features_2, df_song_features_3, df_song_features_4, df_song_features_5, df_song_features_6, df_song_features_7, df_song_features_8, df_song_features_9, df_song_features_10, df_song_features_11, df_song_features_12], axis=0, ignore_index=True)
df_features = df_features.dropna()
df_features = pd.merge(df_features, feature_matches, on=['title', 'artist'], how='inner')
df_features = df_features.drop_duplicates(subset=['title', 'artist'])
df_features.reset_index(drop=True, inplace=True)
df_features.head(100)  # inspect

,title,artist,danceability,energy,speechiness,acousticness,liveness,valence,tempo,duration_ms
0,Sleep Now In the Fire,Rage Against The Machine,0.426,0.929,0.0701,0.00162,0.0789,0.539,127.059,205600
1,Swear It Again - Radio Edit,Westlife,0.626,0.532,0.0276,0.296,0.123,0.33,130.076,247933
2,If I Let You Go - Radio Edit,Westlife,0.571,0.697,0.0294,0.00574,0.0775,0.636,181.987,221533
3,Flying Without Wings,Westlife,0.443,0.493,0.0318,0.323,0.21,0.283,72.742,215307
4,Fool Again,Westlife,0.532,0.526,0.0292,0.0468,0.053,0.536,75.996,235067
...,...,...,...,...,...,...,...,...,...,...
95,Feels (feat. Young Thug & J Hus),"Ed Sheeran, Young Thug, J Hus",0.665,0.68,0.291,0.112,0.096,0.69,91.667,150787
96,Put It All on Me (feat. Ella Mai),"Ed Sheeran, Ella Mai",0.627,0.594,0.0479,0.256,0.373,0.388,101.007,197093
97,Nothing On You (feat. Paulo Londra & Dave),"Ed Sheeran, Paulo Londra, Dave",0.747,0.649,0.218,0.333,0.172,0.84,88.011,200733
98,I Don't Want Your Money (feat. H.E.R.),"Ed Sheeran, H.E.R.",0.468,0.63,0.0843,0.31,0.137,0.762,91.419,204507
99,1000 Nights (feat. Meek Mill & A Boogie Wit da...,"Ed Sheeran, Meek Mill, A Boogie Wit da Hoodie",0.778,0.589,0.269,0.467,0.0902,0.513,98.001,212307

In [39]:
df_features.describe

<bound method NDFrame.describe of                               title                    artist danceability  \
0             Sleep Now In the Fire  Rage Against The Machine        0.426
1       Swear It Again - Radio Edit                  Westlife        0.626
2      If I Let You Go - Radio Edit                  Westlife        0.571
3              Flying Without Wings                  Westlife        0.443
4                        Fool Again                  Westlife        0.532
...                             ...                       ...          ...
20538                      BALMAINS                Dutty Dior        0.913
20539                   Hitam Putih                 Fourtwnty        0.517
20540                        Голоса                   Zvonkiy         0.77
20541                אוסף עוד געגוע                Eyal Golan        0.455
20542          Likolo (feat. Ninho)               Fally Ipupa        0.781

      energy speechiness acousticness liveness valence    tempo duration_ms
0      0.929      0.0701      0.00162   0.0789   0.539  127.059      205600
1      0.532      0.0276        0.296    0.123    0.33  130.076      247933
2      0.697      0.0294      0.00574   0.0775   0.636  181.987      221533
3      0.493      0.0318        0.323     0.21   0.283   72.742      215307
4      0.526      0.0292       0.0468    0.053   0.536   75.996      235067
...      ...         ...          ...      ...     ...      ...         ...
20538  0.459       0.129       0.0646     0.13   0.669  123.003    171341.0
20539  0.329       0.033        0.785   0.0823   0.148  119.863    251000.0
20540    0.9      0.0993        0.233    0.125   0.696  100.051    206400.0
20541  0.595      0.0376        0.617    0.154   0.576  106.107    225258.0
20542  0.612      0.0778        0.434   0.0863   0.595  116.045    195720.0

[20543 rows x 10 columns]>

# TikTok Popular Songs Dataset EDA

In [40]:
df_tiktok_19.head()

,track_name,artist_name,artist_pop,album,track_pop,danceability,energy,loudness,mode,key,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,duration_ms
0,Shake It,Metro Station,53,Metro Station,68,0.618,0.955,-3.836,1,4,0.0798,0.00221,0.000003,0.486,0.790,150.034,4,179947
1,Chinese New Year,SALES,61,SALES - EP,53,0.744,0.845,-7.422,0,4,0.2530,0.75900,0.232000,0.100,0.749,75.221,4,160000
2,Baby I'm Yours,Breakbot,57,By Your Side,69,0.829,0.792,-3.755,0,2,0.0668,0.72600,0.000006,0.122,0.758,118.050,4,215507
3,The Git Up,Blanco Brown,60,The Git Up,2,0.847,0.678,-8.635,1,9,0.1090,0.06690,0.000000,0.274,0.811,97.984,4,200594
4,Say Hey (I Love You),Michael Franti & Spearhead,58,All Rebel Rockers,0,0.738,0.983,-4.374,0,5,0.0855,0.03800,0.000006,0.183,0.957,92.998,4,235760

In [41]:
df_tiktok_20.head()

,track_name,artist_name,artist_pop,album,track_pop,danceability,energy,loudness,mode,key,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,duration_ms
0,Say So,Doja Cat,88,Hot Pink,80,0.787,0.673,-4.583,0,11,0.1590,0.26400,0.000003,0.0904,0.779,110.962,4,237893
1,Blinding Lights,The Weeknd,93,After Hours,90,0.514,0.730,-5.934,1,1,0.0598,0.00146,0.000095,0.0897,0.334,171.005,4,200040
2,Supalonely (feat. Gus Dapperton),BENEE,67,Hey u x,63,0.862,0.631,-4.746,1,7,0.0515,0.29100,0.000209,0.1230,0.841,128.978,4,223488
3,Savage,Megan Thee Stallion,82,Suga,70,0.843,0.741,-5.609,1,11,0.3340,0.02520,0.000000,0.0960,0.680,168.983,4,155497
4,Moral of the Story,Ashe,68,Moral of the Story,76,0.572,0.406,-8.624,1,10,0.0427,0.58700,0.000004,0.1020,0.265,119.812,4,201084

In [42]:
df_tiktok_21.head()

,track_name,artist_name,artist_pop,album,track_pop,danceability,energy,loudness,mode,key,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,duration_ms
0,STAY (with Justin Bieber),The Kid LAROI,83,STAY (with Justin Bieber),89,0.591,0.764,-5.484,1,1,0.0483,0.0383,0.000000,0.1030,0.478,169.928,4,141806
1,Peaches (feat. Daniel Caesar & Giveon),Justin Bieber,90,Justice,86,0.677,0.696,-6.181,1,0,0.1190,0.3210,0.000000,0.4200,0.464,90.030,4,198082
2,edamame (feat. Rich Brian),bbno$,72,edamame (feat. Rich Brian),77,0.815,0.848,-4.704,0,4,0.1150,0.0230,0.000162,0.0265,0.684,106.032,4,133707
3,Here's Your Perfect,Jamie Miller,65,Here's Your Perfect,77,0.558,0.454,-5.335,1,6,0.0551,0.4990,0.000000,0.1460,0.424,113.120,4,158594
4,It's You,Sezairi,57,It's You,73,0.630,0.456,-8.285,1,8,0.0317,0.5450,0.000000,0.1140,0.166,137.915,3,251440

In [43]:
# Combine the tiktok datasets
data_tiktok = [df_tiktok_19, df_tiktok_20, df_tiktok_21]
df_tiktok_full = pd.concat(data_tiktok)

In [44]:
# Extract the track name and artist to check for the overlap
df_tiktok_tracks = df_tiktok_full[['track_name', 'artist_name']]

# Check number of rows
df_tiktok_tracks.shape[0]

705

In [45]:
# Merge with spotify features on track names only to check overlap
df_tiktok_tracks_only = feature_matches.merge(df_tiktok_tracks.drop_duplicates(), left_on = ['title'], right_on=['track_name'], how='inner')

# Check overlap
df_tiktok_tracks_only.shape[0]

641

In [46]:
# Review rows that didn't match to see if there's more clean-up that can be done 
df_tiktok_full_merge = feature_matches.merge(df_tiktok_tracks.drop_duplicates(), left_on = ['title'], right_on=['track_name'], how='outer', indicator = True)

In [47]:
df_tiktok_full_merge.head()

     title     artist track_name artist_name     _merge
0  Ride It     Regard    Ride It      Regard       both
1   +Linda      Dalex        NaN         NaN  left_only
2     Woah   Lil Baby        NaN         NaN  left_only
3     25/8  Bad Bunny        NaN         NaN  left_only
4     Keii   Anuel AA        NaN         NaN  left_only

In [48]:
# Review rows that didn't match to see if there's more clean-up that can be done 
print(df_tiktok_full_merge[df_tiktok_full_merge['_merge'] != 'both'])

           title     artist                              track_name  \
1         +Linda      Dalex                                     NaN
2           Woah   Lil Baby                                     NaN
3           25/8  Bad Bunny                                     NaN
4           Keii   Anuel AA                                     NaN
5      Hei rakas       BEHM                                     NaN
...          ...        ...                                     ...
20743        NaN        NaN                           Favorite Girl
20744        NaN        NaN  Love Tonight - David Guetta Remix Edit
20745        NaN        NaN                           Polaroid Love
20746        NaN        NaN                                   Panda
20747        NaN        NaN                             TO THE MOON

         artist_name      _merge
1                NaN   left_only
2                NaN   left_only
3                NaN   left_only
4                NaN   left_only
5                NaN   left_only
...              ...         ...
20743  Justin Bieber  right_only
20744         Shouse  right_only
20745        ENHYPEN  right_only
20746      Desiigner  right_only
20747       Jnr Choi  right_only

[20107 rows x 5 columns]

In [49]:
# do a check to see if I convert the track names to lower case, could I get more matches 
df_tiktok_full_merge.dropna(inplace = True)
df_tiktok_full_merge['title_l'] = df_tiktok_full_merge.apply(lambda x : x['title'].lower(), axis =1)
df_tiktok_full_merge['track_name_l'] = df_tiktok_full_merge.apply(lambda x : x['track_name'].lower(), axis =1)

print(df_tiktok_full_merge[(df_tiktok_full_merge['title_l'] == df_tiktok_full_merge['track_name_l']) & (df_tiktok_full_merge['_merge'] != 'both')])

# prints an empty dataframe so the conclusion is that no I can't

Empty DataFrame
Columns: [title, artist, track_name, artist_name, _merge, title_l, track_name_l]
Index: []

In [50]:
# Create a match column to indicate cases where the tiktok artist name can be found as a substring in the spotify artist column 
df_tiktok_tracks_only['match'] = df_tiktok_tracks_only.apply(lambda x: x['artist_name'].lower().find(x['artist'].lower()), axis=1).ge(0)

# Create a match column to indicate cases where the spotify artist column can be found as a substring in the tiktok artist name 
df_tiktok_tracks_only['match_2'] = df_tiktok_tracks_only.apply(lambda x: x['artist'].lower().find(x['artist_name'].lower()), axis=1).ge(0)

In [51]:
# review data to see which rows have matched
print(df_tiktok_tracks_only[df_tiktok_tracks_only['match'] |df_tiktok_tracks_only['match_2']])

                                                 title  \
0                                              Ride It
1                                                GOOBA
2                                               Ransom
3                                      Don't Start Now
4                                Roses - Imanbek Remix
..                                                 ...
636                         edamame (feat. Rich Brian)
637   Famous (I'm The One) (feat. Yo Gotti & DeJ Loaf)
638          THICK (feat. Megan Thee Stallion) - Remix
639     If the World Was Ending (feat. Julia Michaels)
640  SAD GIRLZ LUV MONEY Remix (feat. Kali Uchis an...

                                artist  \
0                               Regard
1                              6ix9ine
2                            Lil Tecca
3                             Dua Lipa
4                            SAINt JHN
..                                 ...
636                    bbno$Rich Brian
637  Mozzy, Iamsu!, Yo Gotti, DeJ Loaf
638      DJ Chose, Megan Thee Stallion
639              JP SaxeJulia Michaels
640           Amaarae;Kali Uchis;Moliy

                                            track_name artist_name  match  \
0                                              Ride It      Regard   True
1                                                GOOBA     6ix9ine   True
2                                               Ransom   Lil Tecca   True
3                                      Don't Start Now    Dua Lipa   True
4                                Roses - Imanbek Remix   SAINt JHN   True
..                                                 ...         ...    ...
636                         edamame (feat. Rich Brian)       bbno$  False
637   Famous (I'm The One) (feat. Yo Gotti & DeJ Loaf)       Mozzy  False
638          THICK (feat. Megan Thee Stallion) - Remix    DJ Chose  False
639     If the World Was Ending (feat. Julia Michaels)     JP Saxe  False
640  SAD GIRLZ LUV MONEY Remix (feat. Kali Uchis an...     Amaarae  False

     match_2
0       True
1       True
2       True
3       True
4       True
..       ...
636     True
637     True
638     True
639     True
640     True

[462 rows x 6 columns]

In [52]:
# review data to see which rows have not matched
print(df_tiktok_tracks_only[(df_tiktok_tracks_only['match'] == False) & (df_tiktok_tracks_only['match_2'] == False)])

                   title                                   artist  \
6        Blinding Lights                                  Ouvindo
8                   Tutu                              Grupo Sigma
12                Say So  Poorchoice, Cam Sanders, Veronica Bravo
13                Say So                              Masked Wolf
17               Falling                             Harry Styles
..                   ...                                      ...
571          Baby Powder                                Jenevieve
582  MIDDLE OF THE NIGHT                                 Monsta X
600             Sunshine                              Young Dolph
601             Sunshine                              OneRepublic
617                Yours                                      JIN

              track_name    artist_name  match  match_2
6        Blinding Lights     The Weeknd  False    False
8                   Tutu         Camilo  False    False
12                Say So       Doja Cat  False    False
13                Say So       Doja Cat  False    False
17               Falling  Trevor Daniel  False    False
..                   ...            ...    ...      ...
571          Baby Powder  Bandingo YGNE  False    False
582  MIDDLE OF THE NIGHT     Elley Duhé  False    False
600             Sunshine      Ant Beale  False    False
601             Sunshine      Ant Beale  False    False
617                Yours         Raiden  False    False

[179 rows x 6 columns]

In [53]:
# check the rows where the artists names aren't an exact match - for visual inspection 
df_tiktok_tracks_only.loc[(df_tiktok_tracks_only['artist'] != df_tiktok_tracks_only['artist_name']) & (df_tiktok_tracks_only['match'] |df_tiktok_tracks_only['match_2'])]

,title,artist,track_name,artist_name,match,match_2
7,Tutu,"Camilo, Pedro Capó",Tutu,Camilo,False,True
9,death bed (coffee for your head),"Powfu, beabadoobee",death bed (coffee for your head),Powfu,False,True
28,Savage Remix (feat. Beyoncé),"Beyoncé, Megan Thee Stallion",Savage Remix (feat. Beyoncé),Megan Thee Stallion,False,True
29,Savage Remix (feat. Beyoncé),"Megan Thee Stallion, Beyoncé",Savage Remix (feat. Beyoncé),Megan Thee Stallion,False,True
33,Lose Control,"MEDUZA, Becky Hill, Goodboys",Lose Control,MEDUZA,False,True
...,...,...,...,...,...,...
636,edamame (feat. Rich Brian),bbno$Rich Brian,edamame (feat. Rich Brian),bbno$,False,True
637,Famous (I'm The One) (feat. Yo Gotti & DeJ Loaf),"Mozzy, Iamsu!, Yo Gotti, DeJ Loaf",Famous (I'm The One) (feat. Yo Gotti & DeJ Loaf),Mozzy,False,True
638,THICK (feat. Megan Thee Stallion) - Remix,"DJ Chose, Megan Thee Stallion",THICK (feat. Megan Thee Stallion) - Remix,DJ Chose,False,True
639,If the World Was Ending (feat. Julia Michaels),JP SaxeJulia Michaels,If the World Was Ending (feat. Julia Michaels),JP Saxe,False,True
640,SAD GIRLZ LUV MONEY Remix (feat. Kali Uchis an...,Amaarae;Kali Uchis;Moliy,SAD GIRLZ LUV MONEY Remix (feat. Kali Uchis an...,Amaarae,False,True

In [54]:
# Create a dataframe of overlapping songs based on the two matches colums and drop duplicates
df_tiktok_matches_final = df_tiktok_tracks_only.loc[(df_tiktok_tracks_only['match'] |df_tiktok_tracks_only['match_2'])]

# Check the shape of the df 
df_tiktok_matches_final.shape[0]

462

In [55]:
# spot check an artist to see if the name matching looks appropriate 
df_tiktok_matches_final.loc[(df_tiktok_matches_final['artist_name'] == "Justin Bieber" )|( df_tiktok_matches_final['artist'] == "Justin Bieber" )]

,title,artist,track_name,artist_name,match,match_2
81,Baby,"Justin Bieber, Ludacris",Baby,Justin Bieber,False,True
268,Peaches (feat. Daniel Caesar & Giveon),Justin Bieber,Peaches (feat. Daniel Caesar & Giveon),Justin Bieber,True,True
336,Hold On,Justin Bieber,Hold On,Justin Bieber,True,True
350,Ghost,Justin Bieber,Ghost,Justin Bieber,True,True

In [56]:
# drop rows that are no longer needed
df_tiktok_matches_final.drop(['match', 'match_2', 'track_name', 'artist_name'], inplace =True, axis =1)

# add a column to indicate tiktok popularity 
df_tiktok_matches_final= df_tiktok_matches_final.assign(tiktok_pop = 1)

<ipython-input-56-d43e3dc5fd77>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tiktok_matches_final.drop(['match', 'match_2', 'track_name', 'artist_name'], inplace =True, axis =1)

In [57]:
df_tiktok_matches_final.head()

                   title     artist  tiktok_pop
0                Ride It     Regard           1
1                  GOOBA    6ix9ine           1
2                 Ransom  Lil Tecca           1
3        Don't Start Now   Dua Lipa           1
4  Roses - Imanbek Remix  SAINt JHN           1

In [58]:
df_tiktok_matches_final.groupby(['tiktok_pop']).count()

            title  artist
tiktok_pop
1             462     462

# Genius Lyrics Dataset Creation and EDA

In [59]:
!pip install lyricsgenius

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting lyricsgenius
  Downloading lyricsgenius-3.0.1-py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.4/59.4 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.9/dist-packages (from lyricsgenius) (2.27.1)
Requirement already satisfied: beautifulsoup4>=4.6.0 in /usr/local/lib/python3.9/dist-packages (from lyricsgenius) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.6.0->lyricsgenius) (2.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20.0->lyricsgenius) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20.0->lyricsgenius) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20.0->lyricsgenius) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20.0->lyricsgenius) (3.4)
Installing collected packages: lyricsgenius
Successfully installed lyricsgenius-3.0.1

In [60]:
from google.colab import files
feature_matches.to_csv('combined_features.csv') 
files.download('combined_features.csv')

In [61]:
import lyricsgenius
import os
import spacy
import re

In [62]:
client_id = 'TS15U5iwbWLGkhfGFVqnOuDA9mVjJhhLlXpJDYai6nm79S9JWFzznlsQN5dCFuZG'
client_secret = 'SOhrXQxD9YZ2RxBQwR-wwu5Zbxh6UgkfuIEaUJltx9L9h8aynN5zZ9Jsm1JNlh_5Npu_uev1MKorJV_A6MVYKw'
access_token = 'US00oQ6_8lkhwRjHAOudB62bruf1B3JGOGuHR8V8zeawxpoc8fcA9QGXQ3bhYWu-'
website_url = 'https://github.com/Joseph-Willem-Ricci/5450-final-project'

In [63]:
"""genius = lyricsgenius.Genius(access_token)
artist = genius.search_artist('Andy Shauf')
artist.save_lyrics()"""

"genius = lyricsgenius.Genius(access_token)\nartist = genius.search_artist('Andy Shauf')\nartist.save_lyrics()"

In [64]:
"""api = lyricsgenius.Genius(access_token)
artist = api.artist(380491)
print(artist)"""

'api = lyricsgenius.Genius(access_token)\nartist = api.artist(380491)\nprint(artist)'

In [65]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('vader_lexicon')
#stopword_en = nltk.corpus.stopwords.words('english')
#stopword_es = nltk.corpus.stopwords.words('spanish')
#stopword = stopword_en + stopword_es
stopwords = set(stopwords.words(['english', 'spanish', 'german','french']))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

In [66]:
!!kaggle datasets download -d joannecrean/spotify-songs-lyrics  #FIXME: Generalize this to run on anybody's colab
!unzip /content/spotify-songs-lyrics.zip

unzip:  cannot find or open /content/spotify-songs-lyrics.zip, /content/spotify-songs-lyrics.zip.zip or /content/spotify-songs-lyrics.zip.ZIP.

In [67]:
df_lyrics = pd.read_csv('all_song_data_complete.csv')

FileNotFoundError: ignored

In [ ]:
sensitive_words = pd.read_csv('sensitive_words.csv')
sensitive_words =sensitive_words.values.tolist()

In [ ]:
def tokenize_content(content):
  content = content.lower() #convert to lowercase
  content_tokens = nltk.word_tokenize(content) # tokenise
  alpha_tokens = [w for w in content_tokens if w.isalpha()] # keep alpha tokens
  stop_tokens = [t for t in alpha_tokens if not t in stopwords] #remove if stopword
  final_tokens = [s for s in stop_tokens if not s in sensitive_words] #remove if sensitive
  #print(final_tokens)
  return final_tokens

In [ ]:
df_lyrics.head(10)

In [ ]:
len(df_lyrics)

In [ ]:
df_lyrics.loc[df_lyrics['title'] == 'You Make My Dreams (Come True)']

In [ ]:
df_lyrics.dropna(inplace = True)

In [ ]:
df_lyrics.loc[df_lyrics['song URL'] == 'https://genius.com/Gerald-haywood-2018-haywoodindahood-listening-log-annotated']

In [ ]:
# clean up by dropping rows that aren't lyrics
df_lyrics = df_lyrics[~df_lyrics['song URL'].str.contains('annotated')]

In [ ]:
# remove the intro text before the lyrics 
df_lyrics['lyrics'] = [re.sub('^.*Lyrics', '', x) for x in df_lyrics['lyrics']]

In [ ]:
#remove rows where the URL is not correct so the lyrics are not accurate

df_lyrics['clean URL'] = df_lyrics['song URL'].str.replace('-', '').str.lower()
df_lyrics['clean artist'] = df_lyrics['artist'].str.replace(' ', '').str.lower()

df_lyrics['URL letters'] = df_lyrics['clean URL'].str.extract(r'https://genius\.com/(\w{2})')

#print(df_lyrics.head(10))

df_lyrics = df_lyrics.loc[df_lyrics['URL letters'] == df_lyrics['clean artist'].str[:2]]

In [ ]:
df_lyrics.head(10)

In [ ]:
len(df_lyrics)

In [ ]:
df_lyrics.head(10)

In [ ]:
#df_lyrics_clean = df_lyrics.apply(lambda x: x['Unnamed: 0'] , axis=1)

In [ ]:
df_lyrics['tokenized'] = df_lyrics.apply(lambda x: tokenize_content(x.lyrics), axis=1)

In [ ]:
from nltk.sentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

def retrieve_sentiment(content):
  return sia.polarity_scores(content)['compound']

In [ ]:
df_lyrics['sentiment'] = df_lyrics.apply(lambda x: retrieve_sentiment(x.lyrics), axis=1)
df_lyrics_positive = df_lyrics.sort_values(by = ['sentiment'], ascending = False)
df_lyrics_positive.head(50)

In [ ]:
df_lyrics_negative = df_lyrics.sort_values(by = ['sentiment'])
df_lyrics_negative.head(50)

In [ ]:
def add_spacy_data(dataset, feature_column):
    '''
    Grabs the verb, adverb, noun, and stop word Parts of Speech (POS) 
    tokens and pushes them into a new dataset. returns an 
    enriched dataset.
    
    Parameters:
    
    dataset (dataframe): the dataframe to parse
    feature_column (string): the column to parse in the dataset.
    
    Returns: 
    dataframe
    '''
    
    verbs = []
    nouns = []
    adverbs = []
    corpus = []
    nlp = spacy.load('en_core_web_sm')
    ##
    for i in range (0, len(dataset)):
        print("Extracting verbs and topics from record {} of {}".format(i+1, len(dataset)), end = "\r")
        song = dataset.iloc[i][feature_column]
        doc = nlp(song)
        spacy_dataframe = pd.DataFrame()
        for token in doc:
            if token.lemma_ == "-PRON-":
                    lemma = token.text
            else:
                lemma = token.lemma_
            row = {
                "Word": token.text,
                "Lemma": lemma,
                "PoS": token.pos_,
                "Stop Word": token.is_stop
            }
            spacy_dataframe = spacy_dataframe.append(row, ignore_index = True)
        verbs.append(" ".join(spacy_dataframe["Lemma"][spacy_dataframe["PoS"] == "VERB"].values))
        nouns.append(" ".join(spacy_dataframe["Lemma"][spacy_dataframe["PoS"] == "NOUN"].values))
        adverbs.append(" ".join(spacy_dataframe["Lemma"][spacy_dataframe["PoS"] == "ADV"].values))
        corpus_clean = " ".join(spacy_dataframe["Lemma"][spacy_dataframe["Stop Word"] == False].values)
        corpus_clean = re.sub(r'[^A-Za-z0-9]+', ' ', corpus_clean)   
        corpus.append(corpus_clean)
    dataset['verbs'] = verbs
    dataset['nouns'] = nouns
    dataset['adverbs'] = adverbs
    dataset['corpus'] = corpus

    return dataset

In [ ]:
# alt spacy dataset
"""
nlp = spacy.load('en_core_web_sm')
    ##
    def extract_spacy_data(song):
        doc = nlp(song)
        spacy_dataframe = pd.DataFrame([{
            "Word": token.text,
            "Lemma": token.lemma_ if token.lemma_ != "-PRON-" else token.text,
            "PoS": token.pos_,
            "Stop Word": token.is_stop
        } for token in doc])
        verbs = " ".join(spacy_dataframe["Lemma"][spacy_dataframe["PoS"] == "VERB"].values)
        nouns = " ".join(spacy_dataframe["Lemma"][spacy_dataframe["PoS"] == "NOUN"].values)
        adverbs = " ".join(spacy_dataframe["Lemma"][spacy_dataframe["PoS"] == "ADV"].values)
        corpus_clean = " ".join([token.lemma_ if token.lemma_ != "-PRON-" else token.text
                                 for token in doc if not token.is_stop])
        corpus_clean = re.sub(r'[^A-Za-z0-9]+', ' ', corpus_clean)
        return verbs, nouns, adverbs, corpus_clean
    
    dataset[['verbs', 'nouns', 'adverbs', 'corpus']] = dataset[feature_column].apply(
        lambda x: pd.Series(extract_spacy_data(x)), axis=1)"""

In [ ]:
"""df_lyrics_words = add_spacy_data(df_lyrics, 'lyrics')"""

In [ ]:
"""df_lyrics_words.head(5)"""

In [ ]:
#df_lyrics_words = df_lyrics_words.drop(columns = ['Unnamed: 0'], inplace=True)

In [ ]:
"""word_counts = []
unique_word_counts = []
for i in range (0, len(df_lyrics_words)):
    word_counts.append(len(df_lyrics_words.iloc[i]['lyrics'].split()))
    unique_word_counts.append(len(set(df_lyrics_words.iloc[i]['lyrics'].split())))
df_lyrics_words['word counts'] = word_counts
df_lyrics_words['unique word counts'] = unique_word_counts"""

In [ ]:
"""df_lyrics_words['common noun']= df_lyrics_words.apply(lambda x: x['nouns'].value_counts().idxmax())
df_lyrics_words['common verb']= df_lyrics_words.apply(lambda x: x['verbs'].value_counts().idxmax())"""

In [ ]:
"""df_lyrics_ready = df_lyrics_words[['title', 'artist', 'sentiment', 'word count', 'unique word count', 'common noun', 'common verb']]"""

# Creating Final Dataset and EDA

In [ ]:
"""df_features_lyrics =feature_matches.merge(df_lyrics_ready, left_on = ['title'], right_on = ['title'], how = 'inner')"""

In [ ]:
"""df_features_lyrics_tiktok = df_features_lyrics.merge(df_tiktok_matches_final, left_on = ['title'], right_on = ['title'], how = 'inner')"""